* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --color-border: #dbdbdb;
}
:focus{
    outline: none;

}

.profile-actions-area {
  display: flex;
}
.profile-actions-area .tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-user{
  cursor: pointer;
}

.main-container {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 54px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    
    
}

.navbar-inner {
    width: 975px;
    height: 100%;
    display: flex;
    padding: 0px 20px; 
    align-items: center;
    position: fixed;
}
.upload{
    background-color: #0095f6;
    border-radius: 30%;
    color: white;
    font-size: 12px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
}
.logo {
    width: 360px;
}

.search-bar {
    background-color: #fafafa;
    width: 215px;
    height: 28px;

}

.search-bar-inner {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    display: inline-block;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png);
    background-repeat: no-repeat;
    background-size: 440px 411px;
    background-position: -428px -241px;
    height: 10px;
    width: 10px;
    margin-right: 6px;
}

.search-text {
    font-size: 14px;
    font-weight: 300;
    color: rgb(219, 219, 219);
}

.navbar-icons {
    width: 360px;
    height: 22px;
}

.profile-pic img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.navbar-icons-inner {
    padding: 0 0 0 24px;
    display: flex;
    justify-content: flex-end;
}
.margin-left img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.margin-left {
    margin-left: 22px;
}
.margin-left-small {
    margin-left: 14px;
}
.container{
    padding: 0 15%;
}
.Bio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 13em;
    padding: 3em 0 0 5em;
    border-bottom: 0.5em solid #dbdbdb;
}
.profile-pic{
    background-color: brown;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}
.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   
}
.profile-info .username{
  font-size: 1.7em;
  color: #545454;

}
.profile-pic button{
    background-color: #0095f6;
    border-radius: 30%;
    color: white;
    font-size: 1.2em;
    width: 6em;
    height: 5em;
    cursor: pointer;
}
.gallary-nav{
    background-color: #0095f6;
    height: 3em;
}
.gallary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.7em;
    margin-bottom: 2em;
}
.item{
    height: 17.5em;
    width: 17.5em;
    object-fit: cover;
    background: #000;
}
.item img{
    height: 100%;
    width: 100%;
}
.item img:hover{
    opacity: 0.7;
}

